{{ with .Get "height"}}
<div style="position:relative; overflow: hidden; padding-top: {{ . }};">
	{{ end }}
{{ with .Get "name"}}
<iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" src="../../cindyjs/{{ . }}.html" frameborder="0" allowfullscreen></iframe>
</div>
{{ end }}
